.contato-header {
    text-align: center;
    margin-bottom: 15px;
    color: #f1f1f1;
}

textarea {
    height: 120px;
    resize: none;
}

.acoes {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#btnEnviar {
    width: 120px;
}