.valores-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.boletos-header {
    margin-bottom: 10px;
    color: #f1f1f1;
    font-size: 13px;
}

.boletos-lista {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boleto-item {
    background-color: #d9d9d9;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
}