@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Mukta;
}

body {
    background: #909597;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}


.footer {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    background-color: #dcdcdc;
    color: #7a7a7a;
    cursor: pointer;
    border: none;
        justify-content: space-around;
    align-items: baseline;
}

.footer-content {
    width: 100px;
    display: flex;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
    }
}